.mycard {
    background-color: #f1f1f1;
    animation-name: fadeInUp;
    animation-duration: .6s;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.32, 0, 0.31, 0.92);

}

.mycard:hover {
    background-color: #ffffff;
    /* box-shadow:4px 4px 8px 0px rgba( 0, 0, 0, 0.2 ); */
    box-shadow: 0px 0.917em 1.94em 0.04em rgba(0,0,0,0.25);
}